<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <h2>Welcome {{user}}!!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, rem corrupti excepturi voluptate et laboriosam sed consequatur blanditiis rerum magnam. Nisi, impedit esse! Quo, autem recusandae excepturi totam velit ex.</p>
    {{> footer}}
</body>
</html>